<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
</head>
<body style="margin: 0;">
    <div>
        <div>
            <p>Student image</p>
            <button>Add Student</button>
        </div>
        <div>
            <p>Hall image</p>
            <button>Create Hall</button>
        </div>
    </div>

    <script src="../public/js/jquery-3.4.1.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/pages/admin.js"></script>
</body>
</html>