<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halls</title>
</head>
<body style="margin: 0;">
    <div>
        <p>Hall picture</p>
        <h1>Halls</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">Hall</th>
                    <th scope="col">Block</th>
                    <th scope="col">Room</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>
</html>