<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body style="margin: 0;">
    <div>
        <div>
            <p>logo</p>
            <h1>UNIVERSITY OF GHANA</h1>
        </div>
        <div>
            <form action="" method="post">
                <div>
                    <label for="id">Student ID</label>
                    <input type="text" name="id" id="" placeholder="Enter your ID number here">
                </div>
                <div>
                    <label for="pin">Pin</label>
                    <input type="text" name="pin" id="" placeholder="Enter your pin here">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>