<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Profile</title>
</head>
<body style="margin: 0;">
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <table>
                <tr>
                    <td>Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ID Number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Programme</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Residential Status</td>
                    <td></td>
                </tr>
               <div>
                <tr>
                    <td>Hall</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Block</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Room</td>
                    <td></td>
                </tr>
               </div>
            </table>
        </div>
        <button>Apply For Room</button>
        <button>View Halls</button>
    </div>
</body>
</html>