<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Profile</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">

</head>
<body style="margin: 0;">
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <table>
                <tr>
                    <td>Name</td>
                    <td id="name"></td>
                </tr>
                <tr>
                    <td>ID Number</td>
                    <td id="id"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td id="gender"></td>
                </tr>
                <tr>
                    <td>Programme</td>
                    <td id="course"></td>
                </tr>
                <tr>
                    <td>Residential Status</td>
                    <td id="resStatus"></td>
                </tr>
               <div>
                <tr>
                    <td>Hall</td>
                    <td id="hall"></td>
                </tr>
                <tr>
                    <td>Block</td>
                    <td id="block"></td>
                </tr>
                <tr>
                    <td>Room</td>
                    <td id="room"></td>
                </tr>
               </div>
            </table>
        </div>
        <button id="applyForRoom">Apply For Room</button>
        <button id="viewHalls">View Halls</button>
    </div>
    <script src="../public/js/jquery-3.4.1.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/pages/student.js"></script>

</body>
</html>